{% extends "single-container.html" %}

{% block single_container %}
<div class="form">
    <h2 class="form-heading">Edit Member</h2>
    <form action="/members/{{ member.id }}" method="post">
        <div class="form-attributes">
            <div class="form-attribute">
                <label for="first-name">First Name:</label>
                <input type="text" name="first-name" id="first-name" value="{{ member.first_name }}">
            </div>
            <div class="form-attribute">
                <label for="last-name">Last Name:</label>
                <input type="text" name="last-name" id="last-name" value="{{ member.last_name }}">
            </div>
            <div class="form-attribute">
                <label for="dob">Date of Birth:</label>
                <input type="date" name="dob" id="dob" value="{{ member.dob.__format__('%Y-%m-%d') }}">
            </div>
            <div class="form-attribute">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" value="{{ member.email }}">
            </div>
            <div class="form-attribute">
                <label for="gender">Gender:</label>
                <select name="gender" id="gender">
                    <option value="Male" {% if member.gender == "Male" %} selected="selected" {% endif %}>Male</option>
                    <option value="Female" {% if member.gender == "Female" %} selected="selected" {% endif %}>Female</option>
                    <option value="Non-binary" {% if member.gender == "Non-binary" %} selected="selected" {% endif %}>Non-binary</option>
                    <option value="" {% if member.gender == None %} selected="selected" {% endif %}>Prefer not to say</option>
                </select>
            </div>
        </div>
        <div class="form-button">
            <input type="submit" value="Update">
        </div>
    </form>
</div>
{% endblock %}
