{% extends "multi-container.html" %}

{% block multi_container %}
<section class="classes">
    {% for instructional_event in instructional_events %}
        <div class="individual-container">
            <div class="individual-container-heading">
                <a href="/classes/{{ instructional_event.id }}">
                <span class="material-icons">
                    {% if instructional_event.name == 'Yoga' %}
                        self_improvement
                    {% elif instructional_event.name == 'Martial Arts' %}
                        sports_martial_arts
                    {% else %} 
                        sports
                    {% endif %}
                </span>
                <h2>{{ instructional_event.name }}</h2>
                </a>
            </div>
            <hr>
            <div class="individual-container-details">
                <p>{{ instructional_event.time.__format__('%d/%m/%y') }}</p>
                <p>{{ instructional_event.time.__format__('%H:%M') }} - {{ instructional_event.end_time().__format__('%H:%M') }}</p>
            </div>
        </div>
    {% endfor %}
</section>
<form action="/classes/new" class="add-class-button">
    <input type="submit" value="Add Class">
</form>
{% endblock %}